@model IEnumerable<MovieShop.Services.Dtos.Movie.MovieCardDto>

<div class="rounded">
    <div class="container-fluid">
        <div class="row">
            @foreach (var movie in Model)
            {
                <partial name="_MovieCard" model="movie"/>
            }
        </div>
    </div>

</div>