@model IEnumerable<MovieShop.Services.Dtos.Movie.MovieCardDto>

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Movie Page</title>
</head>
<body>
<div>
    <h1>Welcome to the Movie Shop</h1>
    <p>This is a placeholder for the home page content.</p>

    <div class="rounded">
        <div class="container-fluid">
            <div class="row">
                @foreach (var movie in Model)
                {
                    <partial name="_MovieCard" model="movie"/>
                }
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2023 Movie Shop</p>
    </footer>
</div>
</body>
</html>